.home span{font-color:lime;
}
.home{
      background-color:#6600CC;
      width:900px;
}
.title span{font-color:red;  
}
.title{background-color:#00FFFF;
      height:80px;
      width:600px;
}
.footer{height:1600px;
}
