.home span{color:red;
          font-size: 22px;
          font-family: "Yu Gothic";
}
.home{
      color:#000000;
      background-color:#b9d0b1;
      width:60%;
      font-family: "Yu Gothic";
}
.home h1{
      color:#f15922;
}
.kojiseigo{
      background-color:#738851;
      width:60%;
      font-family: "Yu Gothic";
}
.kojiseigo h3{
      background-color:#FFFFFF;
      width:250px;
      font-family: "Yu Gothic";
}
.title span{
color:#d3c496;
font-family: "Yu Gothic";
}
.title{background-color:#00a096;
      height:65px;

      font-family: "Yu Gothic";
}
.twitter{
        color:white;
  height:35px;
        width: 60%;
        font-family: "Yu Gothic";
        background-color: #00a9ff;
}
.channel{
        color:white;
  height:35px;
          width:60%;
          font-family: "Yu Gothic";
          background-color: #cc0000;

}
.osirase p{
     color:#f15922;
}
.osirase{
  width:60%;
  background-color:#dddddd;
}
.news-list{
  background-color:#82aaaa;
  float:right;
  width:40%;
  font-family: "Yu Gothic";
}
.wa{
  padding-top:50px;
  padding-left:300px;
  float:right;
  background-color:#4a551e;
  width:5%;
  font-family:"Courier New";
  height:170px;
}
.wa h2{
  width:68px;
  padding:5px;
  background-color:white;
}
.bi{
   padding-top:50px;
   float:right;
   background-color:#738851;
   width:5%;
   font-family:"Courier New";
   height:170px;
}
.bi h2{
      padding: 5px;
      background-color:#663300;
}
.sabi{
  padding-top:50px;
  padding-left:10px;
  float:right;
  background-color:#d3c494;
  width:15%;
  font-family:"Courier New";
  height:170px;
}
.sabi h2{
    width:80px;
    padding-left: 10px;
    padding-right:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #b0941e;
}
